* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(82, 142, 237, 0.75);
}

.container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    filter: blur(10px);
    transition: all 600ms;
}
/* proviamo ad aggiungere questo filtro blur per poi toglierlo con un hover,
vediamo cosa viene fuori */

.city {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.Paris {
    background-image: url(images/parigi.jpg);
    background-position: right;
    position: relative;
}

.Lione {
    background-image: url(images/lione.jpg);
    position: relative;
}

.Strasburgo {
    background-image: url(images/strasburgo.jpg);
    position: relative;
}

.Bordeaux {
    background-image: url(images/bordeaux.jpg);
    position: relative;
}

/* provo ad avventurarmi con gli em anziche px per le font-size;
facendo la divisione il risultato é simile */

.center {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 5.5em;
    text-shadow: 0 0 3px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description {
    font-size: 0.3em;
    font-weight: normal;
    font-style: italic;
}

.container:hover {
    filter: blur(0px);
}
/* ok, il risultato alla fine c'e`, ma è veramente cafone, lo lascio lo stesso tanto stiamo provando */

/* iniziamo a giocare con i bottoni social, l'ho creati nel mio playground separatamente, adesso vediamo inserendoli cosa accade, sicuramente dovro regolare altezze e larghezze */
.father {
    position: relative;
    height: 20vh;
    width: 100%;
}


.social-buttons{
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
}

.social-buttons a{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid white;
    color: white;
    background: linear-gradient(45deg,#22a6b3,#30336b);
    margin: 10px;
    font-size: 40px;
    position: relative;
    border-radius: 50%;
}

[class*="fab"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* non male... la responsiveness si va un po' a far benedire ma, se si riducono i margini delle varie <a> a 10 px, il risultato é piacevole (linear-gradient è una funzione stupenda, la metterò ovunque da ora in poi) */
#fatherSecondo {
    position: relative;
    height: 80vh;
    width: 100%;
}

.servizi {
    position: absolute;
    top: 10%;
}
.div-servizi {
    display: inline-block;
    width: 30%;
    height: 100%;
    text-align: center;
    padding: 10px;
    background: linear-gradient(45deg,#22a6b3,#30336b);
    border-radius: 10%;
    margin-top: 70px;
    margin-right: 15px;
    margin-left: 30px;
}

.div-servizi a {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid white;
    color: white;
    background: linear-gradient(45deg,orange,red);
    margin: 10px;;
    font-size: 40px;
    position: relative;
    border-radius: 50%;
}

[class*="fas"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tit1 {
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    text-shadow: 0 0 3px black;

}

.titLorem {
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    text-shadow: 0 0 3px black;
    text-align: justify;
    padding: 5px;
}

/* aggiunta sessione "servizi", manca un header con gli input e un piccolo footer... A DOMANI BELLO!! */


.accesso {
    position: relative;
    filter: blur(0px);
}


.fotoVarie {
    position: absolute;
    width: 85vw;
    display: inline-block;
    text-align: center;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

#formulario {
    position: absolute;
    width: 45vw;
    display: inline-block;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    top: 35%;
    left: 68%;
    transform: translate(-50%, -50%);
}

.BienvenueFra {
    display: inline-block;
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-50%, -50%);
}

.BienvenueFra img {
    height: 60vh;
}

#parigi {
    background-image: url(images/parigi.jpg);
    display: inline-block;
    width: 20vw;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#lione {
    background-image: url(images/lione.jpg);
    display: inline-block;
    width: 20vw;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
#bordeaux {
    background-image: url(images/bordeaux.jpg);
    display: inline-block;
    width: 20vw;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#strasburgo {
    background-image: url(images/strasburgo.jpg);
    display: inline-block;
    width: 20vw;
    height: 20vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}


input[type=text], #visitatori {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: red;
}
