* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    filter: blur(10px);
    transition: all 1000ms;
}
/* proviamo ad aggiungere questo filtro blur per poi toglierlo con un hover,
vediamo cosa viene fuori */

.city {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.Paris {
    background-image: url(images/parigi.jpg);
    background-position: right;
    position: relative;
}

.Lione {
    background-image: url(images/lione.jpg);
    position: relative;
}

.Strasburgo {
    background-image: url(images/strasburgo.jpg);
    position: relative;
}

.Bordeaux {
    background-image: url(images/bordeaux.jpg);
    position: relative;
}

/* provo ad avventurarmi con gli em anziche px per le font-size;
facendo la divisione il risultato é simile */

.center {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 5.5em;
    text-shadow: 0 0 3px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description {
    font-size: 0.3em;
    font-weight: normal;
    font-style: italic;
}

.container:hover {
    filter: blur(0px);
}
/* ok, il risultato alla fine c'e`, ma è veramente cafone, lo lascio lo stesso tanto stiamo provando */
