* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(82, 142, 237, 0.75);
}

.container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    filter: blur(10px);
    transition: all 600ms;
}
/* proviamo ad aggiungere questo filtro blur per poi toglierlo con un hover,
vediamo cosa viene fuori */

.city {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.Paris {
    background-image: url(images/parigi.jpg);
    background-position: right;
    position: relative;
}

.Lione {
    background-image: url(images/lione.jpg);
    position: relative;
}

.Strasburgo {
    background-image: url(images/strasburgo.jpg);
    position: relative;
}

.Bordeaux {
    background-image: url(images/bordeaux.jpg);
    position: relative;
}

/* provo ad avventurarmi con gli em anziche px per le font-size;
facendo la divisione il risultato é simile */

.center {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 5.5em;
    text-shadow: 0 0 3px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description {
    font-size: 0.3em;
    font-weight: normal;
    font-style: italic;
}

.container:hover {
    filter: blur(0px);
}
/* ok, il risultato alla fine c'e`, ma è veramente cafone, lo lascio lo stesso tanto stiamo provando */

/* iniziamo a giocare con i bottoni social, l'ho creati nel mio playground separatamente, adesso vediamo inserendoli cosa accade, sicuramente dovro regolare altezze e larghezze */
.father {
    position: relative;
    height: 30vh;
    width: 100%;

    /* border-bottom: 3px solid white; */
}

.social-buttons{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-buttons a{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid white;
    color: white;
    background: linear-gradient(45deg,#22a6b3,#30336b);
    margin: 10px;;
    font-size: 40px;
    position: relative;
    border-radius: 50%;
}

[class*="fab"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* non male... la responsiveness si va un po' a far benedire ma, se si riducono i margini delle varie <a> a 10 px, il risultato é piacevole (linear-gradient è una funzione stupenda, la metterò ovunque da ora in poi) */
#fatherSecondo {
    position: relative;
    height: 70vh;
    width: 100%;
}
.servizi {
    position: absolute;
    top: 25%;
}
.div-servizi {
    display: inline-block;
    width: 33%;
    text-align: center;
    padding: 10px;
    background: linear-gradient(45deg,#22a6b3,#30336b);
    border-radius: 10%;
}

.div-servizi a {
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 2px solid white;
    color: white;
    background: linear-gradient(45deg,orange,red);
    margin: 10px;;
    font-size: 40px;
    position: relative;
    border-radius: 50%;
}

[class*="fas"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tit1 {
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
    text-shadow: 0 0 3px black;

}

.titLorem {
    display: inline-block;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    text-shadow: 0 0 3px black;
    text-align: justify;
    padding: 5px;
}
/* 
aggiunta sessione "servizi" ma, facendo due blocchi distinti rispetto ai social buttons, in fondo perdiamo un po di responsive, da correggere unendoli in un unico div da 100vh */
